<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="facebookSharp" type="FacebookSharp.Configuration.ConfigurationSection, FacebookSharp" allowDefinition="MachineToApplication" requirePermission="false" />
  </configSections>

  <facebookSharp>
    <add name="consoleEntry" apiKeyLoader="FacebookSharp.ConsoleTest.Program, FacebookSharp.ConsoleTest" apiKeyLoaderMethod="GetApiKeys"/>
  </facebookSharp>
</configuration>